<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header> 
       <h1> Bienvenue sur ECO</h1> 
    </header>
    <main>
        <p>ECO est un E-shop qui vous permet de découvrir des poupées très rare sur le marché. </p>
        <p>Il y en plus de 30 avec chacune leur histoire.</p>
        <p>Les prix peuvent aller de 80 € à 600 € voir plus.</p>
        <p>N'hésitez pas à regarder en détail</p>
        <button></button>
    </main>
    
</body>
</html>