<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'shopApp/css/style.css' %}">
</head>
<body>
    <div class="container">
     <div class="grid">
       <div class="card">
            <div class="title_description">
                <h2>{{data.name}}</h2>
                <p>{{data.description}}</p>
            </div>
           
            <div class="picture"><img src="../../static/media/{{data.picture_link }}" alt=""></div>
         <div class="space">

         
            <div class="price_quantity">
                <h3>{{data.price}} €</h3>
                <h3>{{data.quantity}} En stock</h3>
            </div>
           
               
                <form method="POST" action="{{data.id}}/update_quantity">  
                    
                <!-- Security token by Django -->
                {% csrf_token %}
                <input type="number" name="quantity">
                <input type="submit" value="Acheter" />
            </form>
            
        </div>
        <button><a href="products">Retour sur les produits</a></button>
        </div>
     </div>
    </div>
</body>
</html>